################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/csharp.google.sheet.solution/.vs/csharp.google.sheet.solution/v17
